html {
    box-sizing: border-box;
    height: 100%;
}

html *,
html ::after,
html ::before {
    box-sizing: inherit;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.7;
    font-family: "Montserrat", Tahoma, sans-serif;
    color: $color-main;
    word-wrap: break-word;
    background-color: $color-secondary--lighten;
}

a {
    text-decoration: none;

    &[href] {
        cursor: pointer;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border-style: none;
}

picture {
    display: block;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    padding: 16px 25px;
    //font-weight: 600;
    font-size: 13px;
    font-family: inherit;
    color: $color-main;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #c2c2c2;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        outline: none;
    }

    &:focus {
        box-shadow: 0 0 10px rgba(194, 194, 194, .7);
    }
}

textarea {
    resize: none;
}

::placeholder {
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
.heading-2,
.heading-3,
.heading-4 {
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    //font-weight: 700;
    //font-size: 48px;
}

h2,
.heading-2 {
    font-size: 24px;
}

h3,
.heading-3 {
    //font-size: 28px;
}

h4,
.heading-4 {
    //font-size: 18px;
}

.heading-2 {

    &--extra-big {
        padding-bottom: 22px;

        & span {
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                height: 3px;
                background-color: $color-secondary;
            }

            &::before {
                bottom: -16px;
                width: 50%;
            }

            &::after {
                bottom: -26px;
                width: 30%;
            }
        }
    }

    &--extra-small {
        overflow: hidden;

        &::before,
        &::after {
            content: "";
            position: relative;
            display: inline-block;
            width: 10%;
            height: .4em;
            margin-bottom: .15em;
            vertical-align: middle;
            border-top: 2px solid $color-secondary;
            border-bottom: 2px solid $color-secondary;
        }

        &::before {
            right: .5em;
            margin-left: -10%;
        }

        &::after {
            left: .5em;
            margin-right: -10%;
        }
    }

    &--icon-right {

        &::after {
            content: "";
            flex-shrink: 0;
            display: inline-block;
            vertical-align: middle;
            margin-top: -6px;
            margin-left: 15px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
        }
        
        &--gallery::after {
            width: 28px;
            height: 23px;
            background-image: url("img/bg/photo-camera.svg");
        }

        &--terms-of-placement::after {
            width: 30px;
            height: 19px;
            background-image: url("img/bg/terms-of-placement.svg");
        }
    }

    &--top-icon {
        padding-top: 55px;
        background-repeat: no-repeat;
        background-position: center top;
        //&::before {
        //    content: "";
        //    display: block;
        //    margin: 0 auto 10px;
        //    background-repeat: no-repeat;
        //    background-position: 0 0;
        //    background-size: contain;
        //}
        //
        &--guest-houses {
            background-size: 45px 43px;
            background-image: url("img/bg/guest-houses.svg");
        }
    }
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1230px) {
    .container {
        max-width: 1170px;

        .previous-views & {
            max-width: 1200px;
        }
    }
}
