// Colors
//$color-main--lightest: #CBF3BF;
//$color-main--lighten:  #ACEF97;
//$color-main--light:    #393939;
$color-main:             #313131;
//$color-main--dark:     #39BA11;
//$color-main--darken:   #329F11;
//$color-main--darkest:  #184B09;

$color-secondary--lighten: #f5f5dc;
$color-secondary--light:   #c1cf33;
$color-secondary:          #a7b51a;
$color-secondary--darkest: #27422d;

$color-accent:             #f77900;

$color-third:              #1a8fb5;
$color-third--dark:        #36768d;

$color-warning:            #fb5258;
