.actions-posts {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(9, 12, 18, .05);
}

.actions-posts__page-count {
    display: flex;
    align-items: center;
    margin: 0;
}

.actions-posts__sort {

}