.button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    padding: 16px 40px;
    user-select: none;
    touch-action: manipulation;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.25;
    text-align: center;
    color: #fff;
    white-space: normal;
    word-wrap: normal;
    background-color: $color-secondary;
    border: none;
    border-radius: 25px;
    transition: all .15s ease-in;
    box-shadow: 0 2px 15px rgba(9, 12, 18, .15);
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: $color-secondary--light;
    }

    &--white {
        color: $color-main;
        background-color: #fff;
        //transition: none;

        &:hover,
        &:focus {
            color: #fff;
            background-color: $color-accent;
        }
    }

    &--with-icon {
        display: inline-flex;
        align-items: center;

        &::before {
            content: "";
            display: block;
            flex-shrink: 0;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
        }

        &--subscription::before {
            width: 20px;
            height: 20px;
            background-image: url("img/bg/note.svg");
        }

        &--plus-icon::before {
            width: 12px;
            height: 12px;
            background-image: url("img/bg/plus.svg");
        }
    }

    &--extra {
        text-transform: uppercase;
        color: #fff;
        background-color: $color-accent;
        transform-style: preserve-3d;
        transition: all .3s;

        &::before {
            content: "";
            position: absolute;
            top: 5px;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            background-color: $color-accent--dark;
            border-radius: 25px;
            transform: translateZ(-1px);
            transition: all .3s;
        }

        &:hover,
        &:focus {
            background-color: $color-accent--dark;
            transform: translateY(2px);
        }

        &:hover::before,
        &:focus::before {
            height: 90%;
        }
    }
}
