.content {
    text-align: justify;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content .heading-2,
.content .heading-3,
.content .heading-4 {
    clear: both;
}

.content h1 {
    //margin-top: 46px;
    //margin-bottom: 23px;
    //font-weight: 700;
    //font-size: 48px;
}

.content h2,
.content .heading-2 {
    //margin-top: 46px;
    //margin-bottom: 23px;
    //font-size: 38px;
}

.content h3,
.content .heading-3 {
    //margin-top: 46px;
    //margin-bottom: 13px;
    //font-size: 28px;
}

.content h4,
.content .heading-4 {
    //margin-top: 32px;
    //margin-bottom: 16px;
    //font-size: 18px;
}

.content p,
.content ul:not(.gallery) {
    margin: 14px 0;
}

.content .gallery {
    margin: 35px 0;
}

.content ul {
    padding: 0;
    list-style: none;
}

.content ul:not(.gallery) li {
    position: relative;
    margin-bottom: 16px;
    padding-left: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 20px;
        width: 7px;
        height: 7px;
        background-color: $color-secondary;
        border-radius: 50%;
    }
}

.content a {
    color: $color-secondary;
    border-bottom: 1px solid $color-secondary;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        border-color: transparent;
    }
}

.content strong,
.content b {
    font-weight: 700;
    color: $color-secondary;
}

/* blockquote */
.content blockquote {
    position: relative;
    clear: both;
    margin: 16px 0;
    padding: 35px 70px;
    text-align: center;
    background-color: #BCE8EA;

    &::before,
    &::after {
        position: absolute;
        font-size: 100px;
        line-height: 100px;
        font-family: Times, sans-serif;
        color: $color-third--dark;
    }

    &::before {
        content: '“';
        top: 12px;
        left: 10px;
    }
    &::after {
        content: '”';
        right: 10px;
        bottom: 12px;
    }
}

.content blockquote cite {
    display: block;
    font-size: 15px;
    color: $color-third--dark;
}

.content *:first-child {
    margin-top: 0;
}

.content *:last-child {
    margin-bottom: 0;
}

.content picture:first-child + p,
.content picture:first-child + ul {
    margin-top: 0;
}

@media screen and (max-width: 576px) {
    //.content h1 {
    //    font-size: 35px;
    //}
    //
    //.content h2,
    //.content .heading-2 {
    //    font-size: 30px;
    //}
    //
    //.content h3,
    //.content .heading-3 {
    //    font-size: 24px;
    //}
    //
    //.content blockquote {
    //    padding-right: 15px;
    //    padding-left: 15px;
    //
    //    &::before,
    //    &::after {
    //        font-size: 70px;
    //    }
    //
    //    &::before {
    //        top: -14px;
    //    }
    //
    //    &::after {
    //        bottom: -48px;
    //    }
    //}
}
