.feedback-footer {
    display: flex;
    align-items: flex-start;
}

.feedback-footer__txt {
    margin: 0 75px 0 0;
    flex-grow: 1;
    font-size: 12px;
    color: #626262;
}

.feedback-footer__button {
    flex-shrink: 0;
}

@media screen and (max-width: 992px) {
    .feedback-footer__txt {
        margin-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    .feedback-footer {
        display: block;
    }

    .feedback-footer__txt {
        margin-right: 0;
        margin-bottom: 15px;
    }
}