.fields-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.fields-list__item {
    margin-top: 15px;
    margin-right: 15px;

    .fields-list--row & {
        width: 240px;
        margin-top: 0;
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }

         &--button {
             display: flex;
             width: auto;
         }
    }

    &--full-width {
        width: 100%;
    }

    &--half-width {
        width: calc(50% - 15px);
    }

    &--one-third {
        width: calc(100% / 3 - 45px / 3);
    }
}

.fields-list__label {
    display: block;
    vertical-align: middle;
    margin-bottom: 10px;
    line-height: 1.25;
    cursor: pointer;
}

.fields-list__field-box {
    position: relative;
    margin: 0;

    &--select {

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            width: 0;
            height: 0;
            margin-top: 1px;
            border-style: solid;
            border-width: 9px 5.5px 0 5.5px;
            border-color: $color-secondary transparent transparent transparent;
            transform: translate(0, -50%);
            pointer-events: none;
        }
    }
}

.fields-list__field {
    appearance: none;

    .fields-list__field-box--select & {
        padding-right: 45px;
        cursor: pointer;
    }

    &--textarea {
        height: 140px;
    }
}

@media screen and (max-width: 1230px) {
    .fields-list__item {

        .fields-list--row & {
            width: calc(50% - 20px);

            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(n + 3) {
                margin-top: 15px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .fields-list__item {

        .fields-list--row & {
            width: calc(50% - 7.5px);
            margin-right: 15px;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .fields-list__item {

        .fields-list--row & {
            width: 100%;
            margin-right: 0;

            &:nth-child(n + 2) {
                margin-top: 15px;
            }

            &--button:last-child {
                margin-top: 20px;
            }
        }
    }
}

@media screen and (max-width: 732px) {
    .fields-list__item {

        &--half-width,
        &--one-third {
            width: 100%;
        }
    }
}