.final-grade {

}

.final-grade__title {
    margin-top: 0;
    margin-bottom: 17px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    color: $color-secondary;
}

//.final-grade__progress-bar {
//    margin: 0 auto;
//}
