.gallery-section {
    padding-top: 80px;
}

.gallery-section__title {
    margin-top: 0;
    margin-bottom: 40px;
}

.gallery-section__gallery {
    margin: 0;
}

.gallery-section__button-box {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
}

.gallery-section__button {

}
