.guest-reviews {
    padding-top: 70px;
}

.guest-reviews__head {
    position: relative;
    margin-bottom: 52px;
}

.guest-reviews__title {
    margin: 0;
}

.guest-reviews__btn-leave-feedback-box {
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0;
    transform: translate(0, -50%);
}

.guest-reviews__btn-leave-feedback {

}

.guest-reviews__list {
    margin: 0 0 40px 0;
}

.guest-reviews__button-more-box {
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .guest-reviews__btn-leave-feedback-box {
        position: static;
        margin-top: 30px;
        text-align: center;
        transform: none;
    }
}