.main-header {
    position: absolute;
    top: 0;
    left: 0;
    //z-index: 1;
    z-index: 2;
    width: 100%;

    &--static {
        position: static;
    }
}

.main-header__top {
    display: flex;
    min-height: 70px;
    background-color: rgba(255, 255, 255, .8);

    .main-header--static & {
        background-color: rgba(255, 255, 255, 1);
    }
}

.main-header__top .container {
    display: flex;
}

/***** Hamburger styles *****/
:root {
    // default
    //--mb-button-size: 60px;
    //--mb-bar-width: 0.6;
    //--mb-bar-height: 4px;
    //--mb-bar-spacing: 10px;
    //--mb-animate-timeout: 0.4s

    --mb-button-size: 40px;
    --mb-bar-width: 0.8;
    --mb-bar-height: 4px;
    --mb-bar-spacing: 8px;
    --mb-animate-timeout: 0.1s;
}

.main-header__hamburger {
    position: relative;
    //z-index: 6;
    flex-shrink: 0;
    display: none;
    box-sizing: border-box;
    //height: var(--mb-button-size);
    min-height: var(--mb-button-size);
    margin-right: 30px;
    padding: 0 0 0 var(--mb-button-size);
    color: $color-main;
    border: none;
    border-radius: 0;
    background: 0 0;
    line-height: var(--mb-button-size);
    vertical-align: middle;
    appearance: none;
    outline: 0;
    cursor: pointer;
    user-select: none;

    .main-header--transparent .main-header__wr:not(.main-header__wr--sticky) & {
        color: #fff;
    }
}

.main-header__hamburger b {
    display: block;
    position: absolute;
    left: calc(var(--mb-button-size) * ((1 - var(--mb-bar-width)) / 2));
    width: calc(var(--mb-button-size) * var(--mb-bar-width));
    height: var(--mb-bar-height);
    border-radius: calc(var(--mb-bar-height) / 2);
    background: currentColor;
    color: inherit;
    opacity: 1;
}

.main-header__hamburger b:nth-of-type(1) {
    bottom: calc(50% + var(--mb-bar-spacing));
    transition: bottom .2s ease, transform .2s ease, width .2s ease;
}

.main-header__hamburger b:nth-of-type(2) {
    top: calc(50% - (var(--mb-bar-height) / 2));
    transition: opacity .2s ease;
}

.main-header__hamburger b:nth-of-type(3) {
    top: calc(50% + var(--mb-bar-spacing));
    transition: top .2s ease, transform .2s ease, width .2s ease;
}

.mm-wrapper_opening .main-header__hamburger b:nth-of-type(1),
.show-internal-nav .main-header__hamburger b:nth-of-type(1) {
    bottom: calc(50% - (var(--mb-bar-height) / 2));
    transform: rotate(45deg);
}

.mm-wrapper_opening .main-header__hamburger b:nth-of-type(2),
.show-internal-nav .main-header__hamburger b:nth-of-type(2) {
    opacity: 0;
}

.mm-wrapper_opening .main-header__hamburger b:nth-of-type(3),
.show-internal-nav .main-header__hamburger b:nth-of-type(3) {
    top: calc(50% - (var(--mb-bar-height) / 2));
    transform: rotate(-45deg);
}

.main-header__hamburger b:nth-of-type(1) {
    transition-delay: .2s, 0s;
}

.main-header__hamburger b:nth-of-type(2) {
    transition-duration: 0s;
    transition-delay: .2s;
}

.main-header__hamburger b:nth-of-type(3) {
    transition-delay: .2s, 0s;
}

.mm-wrapper_opening .main-header__hamburger b:nth-of-type(1),
.show-internal-nav .main-header__hamburger b:nth-of-type(1) {
    transform: rotate(135deg);
    transition-delay: calc(var(--mb-animate-timeout) + 0s), calc(var(--mb-animate-timeout) + .2s);
}

.mm-wrapper_opening .main-header__hamburger b:nth-of-type(2),
.show-internal-nav .main-header__hamburger b:nth-of-type(2) {
    transition-delay: calc(var(--mb-animate-timeout) + 0s);
}

.mm-wrapper_opening .main-header__hamburger b:nth-of-type(3),
.show-internal-nav .main-header__hamburger b:nth-of-type(3) {
    transform: rotate(225deg);
    transition-delay: calc(var(--mb-animate-timeout) + 0s), calc(var(--mb-animate-timeout) + .2s);
}
/***** End hamburger styles *****/

.main-header__logo {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.main-header__logo img {
    max-height: 55px;
}

.main-header__desc {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0 65px 0 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-transform: none;
    text-align: left;
}

.main-header__language-switch {
    flex-shrink: 0;
    margin: 0;
}

.main-header__user-navigation {
    flex-shrink: 0;
    margin: 0 0 0 auto;
}

.main-header__bottom {
    background-color: rgba(150, 165, 0, .8);

    .main-header--static {
        background-color: rgba(150, 165, 0, 1);
    }
}

.main-header__filter-desktop {
    padding: 10px 0;
    background-color: rgba(255, 255, 255, .8);
}

@media screen and (max-width: 1230px) {
    .main-header__top .container {
        width: 100%;
    }

    .main-header__hamburger {
        display: block;
    }

    .main-header__filter-desktop {
        display: none;
    }
}

@media screen and (max-width: 768px) {
   .main-header__desc {
       margin-right: 20px;
   }
}

@media screen and (max-width: 576px) {
    .main-header__hamburger {
        margin-right: 15px;
    }

    .main-header__desc {
        display: none;
    }
}
