.modal-login {

}

.modal-login__box {
    display: flex;
}

.modal-login__left {
    flex-grow: 1;
    margin-right: 30px;
}

.modal-login__right {
    flex-shrink: 0;
    width: 340px;
}

.modal-login__forgot-password {
    font-style: italic;
    color: #5b5b5b;
    border-bottom: 1px solid #5b5b5b;
    transition: all .15s ease-in;

    &:hover,
    &:focus {
        color: $color-secondary;
        border-bottom-color: transparent;
    }
}

.modal-login__button {
    width: 100%;
}

@media screen and (max-width: 732px) {
    .modal-login__box {
        display: block;
    }

    .modal-login__left {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .modal-login__right {
        width: 100%;
    }
}