.object-about {
    padding-top: 70px;
}

.object-about__title {
    margin-top: 0;
    margin-bottom: 40px;
}

.object-about__txt {

}

.object-about__more-box {
    text-align: right;
}

.object-about__more {
    margin-top: 14px;
    margin-bottom: 0;
}