.object-card {
    display: flex;
}

.object-card__left {
    flex-shrink: 0;
    margin-right: 50px;
}

.object-card__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.object-card__name {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.35;
    text-transform: uppercase;
}

.object-card__rating {
    margin: 0 0 36px 0;
}

.object-card__group {
    margin: -30px -35px 36px 0;
}

.object-card__price-and-button {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 40px;
}

.object-card__price-box {
    margin-right: 30px;
}

.object-card__button-buy {
    flex-shrink: 0;
}

.object-card__button-more-box {
    margin: auto 0 0;
}

.object-card__button-more {

}

@media screen and (max-width: 1230px) {
    .object-card .object-card__img {
        width: 430px;
    }
}

@media screen and (max-width: 992px) {
    .object-card {
        display: block;
    }

    .object-card .object-card__img {
        width: 460px;
        margin: 0 auto;
    }

    .object-card__left {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .object-card__name {
        text-align: center;
    }

    .object-card__rating {
        justify-content: center;
    }

    .object-card__group {
        justify-content: center;
    }

    .object-card__price-and-button {
        justify-content: center;
    }

    .object-card__button-more-box {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .object-card .object-card__img {
        width: 100%;
        height: 333px;
    }
}

@media screen and (max-width: 576px) {
    .object-card .object-card__img {
        height: auto;
    }
    
    .object-card__price-and-button {
        display: block;
    }

    .object-card__price-box {
        margin-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    .object-card__button-buy {
        width: 100%;
    }
}
