.offer-object {
    @include slider-fix(100%);
}

.offer-object__item {
    position: relative;
    display: flex !important;
    height: 570px;
    background-color: $color-secondary--darkest;
    overflow: hidden;
}

.offer-object__item .container {
    position: relative;
    z-index: 2;
    display: flex;
}

.offer-object__txt {
    position: absolute;
    top: 13px;
    left: 15px;
    max-width: 70%;
    margin-right: 30px;
    padding: 14px 30px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 0 4px 4px 0;
}

.offer-object__txt p {
    margin: 0;
}

.offer-object__txt strong {
    font-weight: 700;
    font-size: 20px;
}

.offer-object__txt *:first-child {
    margin-top: 0;
}

.offer-object__txt *:last-child {
    margin-bottom: 0;
}

.offer-object__img-box {

}

.offer-object__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer-object__blur-box {
    position: absolute;
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
    z-index: 1;
    filter: blur(10px);
}

.offer-object__blur-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offer-object__arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transform: translate(0, -50%);

    &--prev {
        left: calc(50vw - 560px);

        &:hover .offer-object__icon {
            transform: translate(-5px, 0);
        }
    }

    &--next {
        right: calc(50vw - 560px);

        &:hover .offer-object__icon {
            transform: translate(5px, 0);
        }
    }

    &:hover .offer-object__icon {
        opacity: 1;
    }

    &:focus {
        outline: none;
    }
}

.offer-object__icon {
    opacity: .7;
    transition: all .15s ease-in;
}

.offer-object__icon svg {
    display: block;
}

.offer-object .slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    display: flex;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
}

.offer-object .slick-dots li {
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.offer-object .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    border: none;
    background-color: #fff;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .25);
    transition: all .3s ease;
}

.offer-object .slick-active button {
    background-color: $color-secondary;
}

@media screen and (max-width: 1230px) {
    .offer-object__arrow {

        &--prev {
            left: calc(50vw - 445px);
        }

        &--next {
            right: calc(50vw - 445px);
        }
    }
}

@media screen and (max-width: 992px) {
    .offer-object__item {
        //height: 345px;
        height: 400px;
    }

    .offer-object__txt {
        max-width: none;
        padding-right: 15px;
    }

    .offer-object__arrow {

        &--prev {
            left: calc(50vw - 325px);
        }

        &--next {
            right: calc(50vw - 325px);
        }
    }
}

@media screen and (max-width: 768px) {
    .offer-object__item {
        height: 345px;
    }

    .offer-object__arrow {

        &--prev {
            left: calc(50vw - 235px);
        }

        &--next {
            right: calc(50vw - 235px);
        }
    }
}

@media screen and (max-width: 576px) {

}