.overall-rating {
    padding-top: 70px;
}

.overall-rating__title {
    margin-top: 0;
    margin-bottom: 40px;
}

.overall-rating__subtitle {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    line-height: 1.35;
    text-transform: uppercase;
    text-align: center;
}

.overall-rating__box {
    display: flex;
}

.overall-rating__left {
    flex-shrink: 0;
    width: 195px;
    margin-right: 30px;
}

.overall-rating__right {
    flex-grow: 1;
}

.overall-rating__indicators-list {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .overall-rating__box {
        display: block;
    }

    .overall-rating__left {
        width: 100%;
        margin-bottom: 30px;
    }

    .final-grade__title {
        text-align: center;
    }

    .circle-progress-bar {
        margin: 0 auto;
    }
}