.posts-list {

}

.posts-list__item {
    display: flex;
    width: 373px;
    height: 260px;
    margin-bottom: 10px;
    background-color: #27422d;
    overflow: hidden;
    transition: all .15s ease-in;

    &--wide {
        width: 757px;
    }

    &--big {
        width: 756px;
        height: 530px;
    }

    &:hover {
        box-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
    }

    &:hover .post-item__img {
        transform: scale(1.1) rotate(3deg);
    }
}

@media screen and (max-width: 1230px) {
    .posts-list__item {
        width: 460px;

        &--wide {
            width: 460px;
        }

        &--big {
            width: 460px;
        }
    }
}

@media screen and (max-width: 992px) {
    .posts-list__item {
        width: 100%;

        &--wide {
            width: 100%;
        }

        &--big {
            width: 100%;
        }
    }
}
