.user-rating {

}

.user-rating__name {
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: 700;
    line-height: 1.35;
    text-transform: uppercase;
}

.user-rating__age {
    margin-top: 0;
    margin-bottom: 17px;
    font-weight: 700;
    line-height: 1.35;
    text-transform: uppercase;
    color: $color-secondary;
}

@media screen and (max-width: 768px) {
    .user-rating {
        text-align: center;
    }
}
